vendor/
node_modules/
.env
.env.local
.env.*.local
dist/
build/
coverage/
.DS_Store
*.log
.idea/
.vscode/
servi_connect_mobile/build/
servi_connect_mobile/.dart_tool/
servi_connect_mobile/.idea/
servi-connect-web/.next/
service-api/var/
service-api/vendor/
